section:nth-child(3) {
    background: #000000;
    
  }

  section:nth-child(3) .left-h2 {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(0%, 0%); /* Adjust as needed */
    font-size: 120%;
    text-align: center;
    width: 300px;
    color: #eebb45;
  }
  
  section:nth-child(3) .right-h2 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 300px; /* Adjust the width as needed */
    transform: translate(250%, 120%); /* Adjust the positioning as needed */
    white-space: normal; /* Allow text to wrap */
    text-align: center;
    color: #ffb300;
    font-size: 200%;

}

section:nth-child(3) .right1-h2 {
    position: absolute;
    top: 80%;
    right: 0%;
    width: 300px; /* Adjust the width as needed */
    transform: translate(340%, 180%); /* Adjust the positioning as needed */
    white-space: normal; /* Allow text to wrap */
    text-align: center;
    transition: opacity 1s ease; /* Add a smooth transition for opacity */
    font-size: 120%;
    color: #6890ff;
}






.circle {
    background-color: #0d1c47;
    height: 90px;
    border-radius: 50%;
    width: 90px;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 15%;
    transition: transform 0.3s ease-in-out, border-left 0.3s ease-in-out; /* Add transitions for smooth scale and color changes */
    animation: bounce1 5s cubic-bezier(0.5, -2, 0.5, 4) infinite alternate; /* Pop animation */
  
  }
  
  
  .circle1 {
    background-color: #1f49be;
    height: 120px;
    border-radius: 50%;
    width: 120px;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(500%, -270%);
    animation: pulse3 10s linear infinite;
    transition: transform 0.3s ease-in-out, border-left 0.3s ease-in-out; /* Add transitions for smooth scale and color changes */
    animation: bounce1 5s cubic-bezier(0, .5, 0.5, 4) infinite alternate; /* Pop animation */
  
  }
  
  .circle2 {
    background-color: #455789;
    height: 50px;
    border-radius: 50%;
    width: 50px;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 10%; /* Adjust the distance from the right */
    color: white;
    font-size: 40px;
    transform: translate(100%, -300%);
    animation: pulse 4s linear infinite;
  transition: transform 0.3s ease-in-out, border-left 0.3s ease-in-out; /* Add transitions for smooth scale and color changes */
    animation: bounce1 5s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite alternate; /* Pop animation */
  }

  @keyframes bounce1 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px); /* Adjust bounce height as needed */
    }
  }


  