/* Reset default margin and padding */
@import url('https://fonts.cdnfonts.com/css/darbots-2');
body, html {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Set the video container to cover the entire viewport */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Move the video behind the content */
}

/* Style the video element */
.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.content {
    position: fixed;
    top: 20%;
    left: 5%;
    right: 5%;
    width: auto;
    background-color: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2; /* Ensure the content stays above the video */
    font-family: 'Darbots', sans-serif;
    font-size: 130%;
}


.content p {
    
    text-shadow:0 0 5px #2b2b2b, 5px 5px 5px #8c4800;
}

.content h1 {
    font-size: 400%; /* Adjust the font size as needed */
    
}



/*arrow */
/* Style for the arrow container */
.arrow-container {
  position: fixed;
  bottom: 10px; /* Adjust the position as needed */
  left: 48.7%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}


/* Keyframes animation for the bouncing arrow */
@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); /* Adjust bounce height as needed */
  }
}

/* Styling for the arrow icon */
.arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid rgba(255, 255, 255, 0.95); /* Same color as .content background */
  margin: 0 auto;
}

@keyframes textVideo {
    from {
        background-position: 0% 0;
    }
    to {
        background-position: 100% 0;
    }

}

.footer {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    padding: 20px;
    z-index: 1;
  }
  
  .footer-button {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  

  



