section {
    min-height: 120vh;
    display: flex;
    position: relative; /* Add this line */
    z-index: 1; /* Add this line */
    background-color: transparent; /* Add this line */
    font-family: 'Darbots', sans-serif;
}
 

  section:nth-child(5) {
    color: #ffffff;
    background: #000000;
  }

  section .container {
    margin: 100px;
  }
  
  section h2 {
    font-size: 100%;
    text-transform: uppercase;
  }

 
 

 
  
  @media (max-width: 900px) {
    section h1 {
      text-align: center;
    }
    section .text-container {
      flex-direction: column;
    }
  }
  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }


  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


/*DOTS*/
  .dot-container {
    position: fixed;
    left: 10px;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #d8d8d8;
    border-radius: 50%;
    margin: 10px 0;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: #ffcc00;
  }
  


